{% extends 'base.html' %}

{% block title %}Cinderella{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h1>Cinderella</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h3>Did you know?</h3>
        <p>
          Cinderella story has hundreds of variants across centuries. In one of them she does not have evil stepmother,
          her father is alive, she goes to three balls instead of one, she looses ring instead of slipper
          (which actually can be made of gold instead of glass).<br />
          In the oldest known variant, ancient Greco-Egyptian story
          of <a href="http://en.wikipedia.org/wiki/Rhodopis">Rhodopis</a>, Cinderella was a courtesan.
        </p>

        <h3>What is Cinderella project?</h3>
        <p>
          There is a single story, which mutates and changes itself every time it is told.
          Well, actually in digital world - every time someone new visits the link provided by the <em>storyteller</em>.
          Then she can decide if her story variant is worth telling.<br/>
          This way we hope that best stories will have more variants than bad ones. It is evolutionary algorithm
          applied to simple story, where all users evaluate fitness of specific variants.
        </p>

      </div>
    </div>
  </div>
{% endblock %}