{% extends "base.html" %}

{% block title %}{{ variant.story.title }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h1>{{ variant.story.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        {% autoescape off %}
        {{ variant.get_text }}
        {% endautoescape %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h3>Share this story!</h3>
      <p>
        If you like this custom variant of the story you can become storyteller by simply sharing this link.<br/>
        Each person visiting it will see a new story variant, based on yours and some mutations.
      </p>
    </div>
    <div class="large-7 columns">
      <label>Link to share</label>
      <input type="text" value="{{ share_link }}">
    </div>
    <div class="large-5 columns">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_link }}&t={{ variant.story.title }}"
         onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
         target="_blank" class="small radius button" style="background: #30468a">
        Share on Facebook
      </a>
      <a href="https://twitter.com/share?url={{ share_link }}&text=Mutate my {{ variant.story.title }} story"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
        target="_blank" class="small radius button" style="background: #4a9ced">
        Share on Twitter
      </a>
    </div>
    <div class="large-12 columns">
      <a href="{% url 'home' %}">Read more about Cinderella project</a>
    </div>
    <div class="large-12 columns" style="margin-top: 100px">
      <h3>Other variants</h3>
      <p>This story is {{ step }} step{{ step|pluralize }} from the original story{% if variant.parent %}, you can <a href="{{ variant.parent.get_absolute_url }}">see its parent story</a>{% endif %}.
    </div>
    <div class="large-12 columns">
      <h5>Child variants of this story</h5>
      <p>This story has {{ descendants_count }} descendant stories at all.<br/>
        Only stories directly made from this one are shown below.</p>
      <ul>{% for child in children %}
        <li><a href="{{ child.get_absolute_url }}">Variant {{ forloop.counter }}</a></li>
      {% empty %}
        <li>No child stories, share the link!</li>
      {% endfor %}</ul>
      <a href="{% url 'home' %}"></a>
    </div>
  </div>
{% endblock %}